In [6]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import re
# Initialize final DataFrame
final2 = pd.DataFrame()

for j in range(1,3):
    url = url = f"https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page={j}"
    
    # Set headers to mimic your browser request
    headers = {
        "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7",
        "accept-encoding": "gzip, deflate, br, zstd",
        "accept-language": "en-GB,en;q=0.9,mr-IN;q=0.8,mr;q=0.7,en-US;q=0.6,fr;q=0.5",
        "cache-control": "max-age=0",
        "cookie": "HOWTORT=ul=1730788998778&r=https%3A%2F%2Fwww.ambitionbox.com%2F",  # Replace if this cookie expires
        "dnt": "1",
        "if-none-match": '"369bb-Lmsq3bp/iW/qg2+q/XsxGYTyfFk"',
        "priority": "u=0, i",
        "sec-ch-ua": '"Chromium";v="130", "Google Chrome";v="130", "Not?A_Brand";v="99"',
        "sec-ch-ua-mobile": "?0",
        "sec-ch-ua-platform": '"Linux"',
        "sec-fetch-dest": "document",
        "sec-fetch-mode": "navigate",
        "sec-fetch-site": "same-origin",
        "sec-fetch-user": "?1",
        "upgrade-insecure-requests": "1",
        "user-agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/130.0.0.0 Safari/537.36"
    }

    name=[]
    # Send a GET request with headers
    response = requests.get(url, headers=headers, timeout=10)
    webpage=response.text
    outer_soup=BeautifulSoup(webpage,'lxml')
    # print(outer_soup)
    # print('--'*20)
    for i in outer_soup.find_all("h2"):
        name.append(i.text.strip())
    name2=[]
    location=[]
    industry=[]
    Founded_in=[]
    India_Headquarters=[]
    Website=[]
    for i in name:
        url2 = f"https://www.ambitionbox.com/overview/{i}-overview"
        response = requests.get(url2, headers=headers, timeout=10)
        webpage = response.text
        soup = BeautifulSoup(webpage, 'lxml')
        # Check if <h1> exists
        h1_element = soup.find('h1')
        if h1_element:
            # If <h1> exists, append its text
            name2.append(h1_element.text.strip())
        else:
            # If <h1> is not found, append None or a placeholder
            name2.append(None)
        # print(name2)
        # Extract 'Founded in' data
        found_founded, found_headquarters, found_website = False, False, False
    
        found_location,found_industry=False,False
        
        for info in soup.find_all('div', class_="css-175oi2r flex flex-row md:flex-col justify-start md:justify-between items-start w-full gap-3 md:gap-0.5"):
            line = info.text.strip()
            
            if line.startswith("Office Locations") and not found_location:
                location.append(line.replace("Office Locations", "").strip() or None)
                found_location=True
            elif line.startswith("Primary Industry") and not found_industry:
                industry.append(line.replace("Primary Industry", "").strip() or None)
                found_industry=True
        if not found_location:
            location.append(None)
        if not found_industry:
            industry.append(None)
        # print(location)
        # Loop to extract other fields like Founded, Headquarters, Website
        for info in soup.find_all('div', class_="css-146c3p1 flex flex-row md:flex-col justify-start md:justify-between items-start w-full gap-3 md:gap-0.5"):
            line = info.text.strip()
    
            # 'Founded in'
            if line.startswith("Founded in") and not found_founded:
                Founded_in.append(line.replace("Founded in", "").strip() or None)
                found_founded = True
            # 'India Headquarters'
            elif line.startswith("India Headquarters") and not found_headquarters:
                India_Headquarters.append(line.replace("India Headquarters", "").strip() or None)
                found_headquarters = True
            # 'Website'
            elif line.startswith("Website") and not found_website:
                Website.append(line.replace("Website", "").strip() or None)
                found_website = True
        # Add None if data was missing for a company
        if not found_founded:
            Founded_in.append(None)
        if not found_headquarters:
            India_Headquarters.append(None)
        if not found_website:
            Website.append(None)
        # name=name[:-4]
        # location=location[:-4]
        # industry=industry[:-4]
        # Founded_in=Founded_in[:-4]
        # Website=Website[:-4]
        # India_Headquarters=India_Headquarters[:-4]
    # print(name)
    # print(location)
    df2={'name':name2,'location':location,'Industry':industry,'Founded_in':Founded_in,'Website':Website,'India_Headquarters':India_Headquarters}
    # Convert df2 from dictionary to DataFrame
    df2 = pd.DataFrame(df2)

    # Concatenate the DataFrame to final2
    final2 = pd.concat([final2, df2], ignore_index=True)

In [7]:
final2

,name,location,Industry,Founded_in,Website,India_Headquarters
0,TCS,Lucknow|Ahmedabad|Bangalore / Bengaluru|+17,IT Services & Consulting,1968 (56 yrs old),tcs.com,"Mumbai, Maharashtra, India"
1,Accenture,Dublin|Bangalore / Bengaluru|New Delhi|+2,IT Services & Consulting,1989 (35 yrs old),accenture.com,None
2,Cognizant,Mangaluru|Bangalore / Bengaluru|Coimbatore|+7,IT Services & Consulting,1994 (30 yrs old),cognizant.com,None
3,Wipro,Lucknow|Ahmedabad|Bangalore / Bengaluru|+21,IT Services & Consulting,1945 (79 yrs old),careers.wipro.com,"Bangalore/Bengaluru, Karnataka, India"
4,Capgemini,Bangalore / Bengaluru|Chennai|Hyderabad / Secu...,IT Services & Consulting,1967 (57 yrs old),capgemini.com,"Pune, Maharashtra, India"
5,HDFC Bank,Mumbai|Bangalore / Bengaluru|New Delhi,Banking,1994 (30 yrs old),hdfcbank.com,"Mumbai, Maharashtra, India"
6,ICICI Bank,New Delhi|Bangalore / Bengaluru|Hyderabad / Se...,Banking,1994 (30 yrs old),icicibank.com,"Mumbai, Maharashtra, India"
7,Infosys,None,None,None,None,None
8,HCLTech,None,None,None,None,None
9,Tech Mahindra,Bangalore / Bengaluru|Gurgaon / Gurugram|Bhuba...,IT Services & Consulting,1986 (38 yrs old),techmahindra.com,"Pune, Maharashtra, India"
10,Genpact,New York|Bangalore / Bengaluru|New Delhi|+7,IT Services & Consulting,1997 (27 yrs old),genpact.com,None
11,Teleperformance,Gurgaon / Gurugram,--,1978 (46 yrs old),teleperformance.com,"Gurgaon / Gurugram, Haryana, India"
12,Concentrix Corporation,--,IT Services & Consulting,1983 (41 yrs old),concentrix.com,"Gurgaon/Gurugram, Haryana, India"
13,Axis Bank,Ahmedabad|Mumbai,Banking,1993 (31 yrs old),axisbank.com,"Mumbai, Maharashtra, India"
14,Amazon,Hyderabad / Secunderabad|Chennai|Bangalore / B...,Internet,1994 (30 yrs old),amazon.jobs,"Hyderabad / Secunderabad, Telangana, India"
15,Jio,Noida|Palakkad|Narasaraopet|+1,Telecom,2018 (6 yrs old),jio.com,"Navi Mumbai, Maharashtra, India"
16,IBM,Bangalore / Bengaluru|New Delhi|Pune|+3,IT Services & Consulting,1911 (113 yrs old),ibm.com,"Bangalore / Bengaluru, Karnataka, India"
17,Reliance Retail,Mumbai,Retail,2006 (18 yrs old),relianceretail.com,"Ghansoli, Navi Mumbai, India"
18,HDB Financial Services,Barnala|Bhilai Nagar|Guwahati|+5,NBFC,2007 (17 yrs old),hdbfs.com,"Ahmedabad, Gujrat, India"
19,iEnergizer,None,None,None,None,None
20,None,None,None,None,None,None
21,None,None,None,None,None,None
22,None,None,None,None,None,None
23,None,None,None,None,None,None
24,Larsen & Toubro Limited,Ahmedabad|Lucknow|Chandigarh|+14,Engineering & Construction,1938 (86 yrs old),larsentoubro.com,"Mumbai, Maharashtra, India"
25,Deloitte,Ahmedabad|Bangalore / Bengaluru|Hyderabad / Se...,Management Consulting,1845 (179 yrs old),www2.deloitte.com,None
26,BYJU'S,Bangalore / Bengaluru|New Delhi,EdTech,2011 (13 yrs old),byjus.com,"Bangalore,Karnataka, India"
27,Kotak Mahindra Bank,Lucknow|Mangaluru|Bilaspur|+29,Banking,2003 (21 yrs old),kotak.com,"Mumbai, Maharashtra, India"
28,LTIMindtree,--,IT Services & Consulting,1997 (27 yrs old),ltimindtree.com,"Mumbai, India, India"
29,Vodafone Idea,Mumbai,Telecom,2018 (6 yrs old),myvi.in,"Mumbai, Maharashtra, India"
30,None,None,None,None,None,None
31,Bharti Airtel,New Delhi|Bangalore / Bengaluru|Shimla|+4,Telecom,1952 (72 yrs old),airtel.in,"Gurgaon/Gurugram, Haryana, India"
32,Tata Motors,Ahmedabad|Bangalore / Bengaluru|Adoni|+10,Automobile,1945 (79 yrs old),tatamotors.com,"Pune, Maharashtra, India"
33,WNS,Bangalore / Bengaluru|Chennai|Visakhapatnam|+6,BPO,1996 (28 yrs old),wns.com,"Mumbai, Maharashtra, India"
34,Flipkart,Nagpur|Bangalore / Bengaluru|Visakhapatnam|+1,Internet,2007 (17 yrs old),flipkart.com,"Bangalore,Karnataka, India"
35,IndusInd Bank,Ahmedabad|Bangalore / Bengaluru|Chennai|+5,Banking,1994 (30 yrs old),indusind.com,"Gurgaon/Gurugram, Haryana, India"
36,Ernst & Young,Ahmedabad|Bangalore / Bengaluru|Gurgaon / Guru...,Management Consulting,2002 (22 yrs old),ey.com,None
37,IDFC FIRST Bank,Mumbai,Banking,2018 (6 yrs old),idfcfirstbank.com,"Mumbai, Maharashtra, India"
38,DXC Technology,--,IT Services & Consulting,2017 (7 yrs old),dxc.com,None
39,Mahindra & Mahindra,Nagpur|Madurai|Nashik|+2,Automobile,1945 (79 yrs old),mahindra.com,"Mumbai, Maharashtra, India"
40,AU Small Finance Bank,--,Banking,1996 (28 yrs old),aubank.in,"Jaipur, Rajasthan, India"
41,Infosys BPM,Bangalore / Bengaluru|New Delhi|Noida|+1,BPO,2002 (22 yrs old),infosysbpm.com,"Bangalore/Bengaluru, Karnataka, India"
42,Bajaj Finserv,Warud|Ahmedabad|Hyderabad / Secunderabad|+4,Financial Services,2007 (17 yrs old),bajajfinserv.in,"Pune,Maharashtra, India"
43,Conneqt Business Solutions,--,BPO,2002 (22 yrs old),conneqtcorp.com,"Mumbai, Maharashtra, India"
44,None,None,None,None,None,None
45,None,None,None,None,None,None
46,None,None,None,None,None,None
47,None,None,None,None,None,None

In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import re

# Initialize final DataFrame
final1 = pd.DataFrame()

# Loop through pages
for j in range(1, 3):
    url = f"https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page={j}"

    # Set headers to mimic your browser request
    headers = {
        "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7",
        "accept-encoding": "gzip, deflate, br, zstd",
        "accept-language": "en-GB,en;q=0.9,mr-IN;q=0.8,mr;q=0.7,en-US;q=0.6,fr;q=0.5",
        "cache-control": "max-age=0",
        "cookie": "HOWTORT=ul=1730788998778&r=https%3A%2F%2Fwww.ambitionbox.com%2F",  # Replace if this cookie expires
        "dnt": "1",
        "if-none-match": '"369bb-Lmsq3bp/iW/qg2+q/XsxGYTyfFk"',
        "priority": "u=0, i",
        "sec-ch-ua": '"Chromium";v="130", "Google Chrome";v="130", "Not?A_Brand";v="99"',
        "sec-ch-ua-mobile": "?0",
        "sec-ch-ua-platform": '"Linux"',
        "sec-fetch-dest": "document",
        "sec-fetch-mode": "navigate",
        "sec-fetch-site": "same-origin",
        "sec-fetch-user": "?1",
        "upgrade-insecure-requests": "1",
        "user-agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/130.0.0.0 Safari/537.36"
    }
    # Send a GET request with headers
    response = requests.get(url, headers=headers, timeout=10)
    webpage = response.text
    outer_soup = BeautifulSoup(webpage, 'lxml')
    company = outer_soup.find_all('div', class_="companyCardWrapper")

    # Lists to collect data
    name = []
    rating = []
    reviews = []
    company_types = []
    
    # Extract data for each company
    for i in company:
        name.append(i.find('h2').text.strip())
        rating.append(i.find("span", class_="companyCardWrapper__companyRatingValue").text if i.find("span", class_="companyCardWrapper__companyRatingValue") else None)

        x = i.find_all('div', class_="companyCardWrapper__tertiaryInformation")
        for t in x:
            text = t.text
            review = re.search(r"(\d+\.?\d*k?)", text)
            reviews.append(review.group(1) if review else 0)

        for line in i.find_all('div', class_="companyCardWrapper__interLinkingWrapper"):
            text = line.text.strip()
            x = text.split('|')
            company_types.append(x[2].strip() if len(x) > 2 else None)

    # Create a DataFrame for the current page
    df = pd.DataFrame({'name': name, 'rating': rating, 'reviews': reviews, 'type': company_types})

    # Concatenate to the final DataFrame
    final1 = pd.concat([final1, df], ignore_index=True)

In [5]:
final1

                          name rating reviews                type
0                          TCS    3.7   81.8k              Public
1                    Accenture    3.9     51k              Public
2                    Cognizant    3.8     46k  Forbes Global 2000
3                        Wipro    3.7   45.9k              Public
4                    Capgemini    3.8   37.9k              Public
5                    HDFC Bank    3.9   36.7k              Public
6                   ICICI Bank    4.0     36k              Public
7                      Infosys    3.7   35.5k              Public
8                      HCLTech    3.6   32.7k              Public
9                Tech Mahindra    3.6   30.1k              Public
10                     Genpact    3.9   28.6k              Public
11             Teleperformance    3.9     26k        46 years old
12      Concentrix Corporation    3.8   24.5k              Public
13                   Axis Bank    3.8   23.7k              Public
14                      Amazon    4.1   23.7k              Public
15                         Jio    3.9   21.3k              Public
16                         IBM    4.1   20.8k              Public
17             Reliance Retail    3.9   20.8k        18 years old
18      HDB Financial Services    4.0   19.1k        17 years old
19                  iEnergizer    4.7   19.1k        24 years old
20     Larsen & Toubro Limited    4.0   17.4k              Public
21                    Deloitte    3.9   16.3k       179 years old
22                      BYJU'S    3.1   15.8k      Indian Unicorn
23         Kotak Mahindra Bank    3.8   15.3k              Public
24                 LTIMindtree    3.5   14.8k              Public
25               Vodafone Idea    4.1   14.7k              Public
26         Reliance Industries    4.1   14.7k              Public
27               Bharti Airtel    4.0   12.8k              Public
28                 Tata Motors    4.2   11.2k              Public
29                         WNS    3.4   10.3k        28 years old
30                    Flipkart    4.0   10.1k              Public
31               IndusInd Bank    3.6     10k              Public
32               Ernst & Young    3.5    9.7k        22 years old
33             IDFC FIRST Bank    4.0    9.4k              Public
34              DXC Technology    3.7    9.3k              Public
35         Mahindra & Mahindra    4.1    9.3k              Public
36       AU Small Finance Bank    4.4    9.3k   Fortune India 500
37                 Infosys BPM    3.8    8.9k        22 years old
38               Bajaj Finserv    4.0    8.4k              Public
39  Conneqt Business Solutions    3.7    8.3k        22 years old

In [9]:
final_df=final1.merge(final2,on='name')

In [10]:
final_df

,name,rating,reviews,type,location,Industry,Founded_in,Website,India_Headquarters
0,TCS,3.7,81.8k,Public,Lucknow|Ahmedabad|Bangalore / Bengaluru|+17,IT Services & Consulting,1968 (56 yrs old),tcs.com,"Mumbai, Maharashtra, India"
1,Accenture,3.9,51k,Public,Dublin|Bangalore / Bengaluru|New Delhi|+2,IT Services & Consulting,1989 (35 yrs old),accenture.com,None
2,Cognizant,3.8,46k,Forbes Global 2000,Mangaluru|Bangalore / Bengaluru|Coimbatore|+7,IT Services & Consulting,1994 (30 yrs old),cognizant.com,None
3,Wipro,3.7,45.9k,Public,Lucknow|Ahmedabad|Bangalore / Bengaluru|+21,IT Services & Consulting,1945 (79 yrs old),careers.wipro.com,"Bangalore/Bengaluru, Karnataka, India"
4,Capgemini,3.8,37.9k,Public,Bangalore / Bengaluru|Chennai|Hyderabad / Secu...,IT Services & Consulting,1967 (57 yrs old),capgemini.com,"Pune, Maharashtra, India"
5,HDFC Bank,3.9,36.7k,Public,Mumbai|Bangalore / Bengaluru|New Delhi,Banking,1994 (30 yrs old),hdfcbank.com,"Mumbai, Maharashtra, India"
6,ICICI Bank,4.0,36k,Public,New Delhi|Bangalore / Bengaluru|Hyderabad / Se...,Banking,1994 (30 yrs old),icicibank.com,"Mumbai, Maharashtra, India"
7,Infosys,3.7,35.5k,Public,None,None,None,None,None
8,HCLTech,3.6,32.7k,Public,None,None,None,None,None
9,Tech Mahindra,3.6,30.1k,Public,Bangalore / Bengaluru|Gurgaon / Gurugram|Bhuba...,IT Services & Consulting,1986 (38 yrs old),techmahindra.com,"Pune, Maharashtra, India"
10,Genpact,3.9,28.6k,Public,New York|Bangalore / Bengaluru|New Delhi|+7,IT Services & Consulting,1997 (27 yrs old),genpact.com,None
11,Teleperformance,3.9,26k,46 years old,Gurgaon / Gurugram,--,1978 (46 yrs old),teleperformance.com,"Gurgaon / Gurugram, Haryana, India"
12,Concentrix Corporation,3.8,24.5k,Public,--,IT Services & Consulting,1983 (41 yrs old),concentrix.com,"Gurgaon/Gurugram, Haryana, India"
13,Axis Bank,3.8,23.7k,Public,Ahmedabad|Mumbai,Banking,1993 (31 yrs old),axisbank.com,"Mumbai, Maharashtra, India"
14,Amazon,4.1,23.7k,Public,Hyderabad / Secunderabad|Chennai|Bangalore / B...,Internet,1994 (30 yrs old),amazon.jobs,"Hyderabad / Secunderabad, Telangana, India"
15,Jio,3.9,21.3k,Public,Noida|Palakkad|Narasaraopet|+1,Telecom,2018 (6 yrs old),jio.com,"Navi Mumbai, Maharashtra, India"
16,IBM,4.1,20.8k,Public,Bangalore / Bengaluru|New Delhi|Pune|+3,IT Services & Consulting,1911 (113 yrs old),ibm.com,"Bangalore / Bengaluru, Karnataka, India"
17,Reliance Retail,3.9,20.8k,18 years old,Mumbai,Retail,2006 (18 yrs old),relianceretail.com,"Ghansoli, Navi Mumbai, India"
18,HDB Financial Services,4.0,19.1k,17 years old,Barnala|Bhilai Nagar|Guwahati|+5,NBFC,2007 (17 yrs old),hdbfs.com,"Ahmedabad, Gujrat, India"
19,iEnergizer,4.7,19.1k,24 years old,None,None,None,None,None
20,Larsen & Toubro Limited,4.0,17.4k,Public,Ahmedabad|Lucknow|Chandigarh|+14,Engineering & Construction,1938 (86 yrs old),larsentoubro.com,"Mumbai, Maharashtra, India"
21,Deloitte,3.9,16.3k,179 years old,Ahmedabad|Bangalore / Bengaluru|Hyderabad / Se...,Management Consulting,1845 (179 yrs old),www2.deloitte.com,None
22,BYJU'S,3.1,15.8k,Indian Unicorn,Bangalore / Bengaluru|New Delhi,EdTech,2011 (13 yrs old),byjus.com,"Bangalore,Karnataka, India"
23,Kotak Mahindra Bank,3.8,15.3k,Public,Lucknow|Mangaluru|Bilaspur|+29,Banking,2003 (21 yrs old),kotak.com,"Mumbai, Maharashtra, India"
24,LTIMindtree,3.5,14.8k,Public,--,IT Services & Consulting,1997 (27 yrs old),ltimindtree.com,"Mumbai, India, India"
25,Vodafone Idea,4.1,14.7k,Public,Mumbai,Telecom,2018 (6 yrs old),myvi.in,"Mumbai, Maharashtra, India"
26,Bharti Airtel,4.0,12.8k,Public,New Delhi|Bangalore / Bengaluru|Shimla|+4,Telecom,1952 (72 yrs old),airtel.in,"Gurgaon/Gurugram, Haryana, India"
27,Tata Motors,4.2,11.2k,Public,Ahmedabad|Bangalore / Bengaluru|Adoni|+10,Automobile,1945 (79 yrs old),tatamotors.com,"Pune, Maharashtra, India"
28,WNS,3.4,10.3k,28 years old,Bangalore / Bengaluru|Chennai|Visakhapatnam|+6,BPO,1996 (28 yrs old),wns.com,"Mumbai, Maharashtra, India"
29,Flipkart,4.0,10.1k,Public,Nagpur|Bangalore / Bengaluru|Visakhapatnam|+1,Internet,2007 (17 yrs old),flipkart.com,"Bangalore,Karnataka, India"
30,IndusInd Bank,3.6,10k,Public,Ahmedabad|Bangalore / Bengaluru|Chennai|+5,Banking,1994 (30 yrs old),indusind.com,"Gurgaon/Gurugram, Haryana, India"
31,Ernst & Young,3.5,9.7k,22 years old,Ahmedabad|Bangalore / Bengaluru|Gurgaon / Guru...,Management Consulting,2002 (22 yrs old),ey.com,None
32,IDFC FIRST Bank,4.0,9.4k,Public,Mumbai,Banking,2018 (6 yrs old),idfcfirstbank.com,"Mumbai, Maharashtra, India"
33,DXC Technology,3.7,9.3k,Public,--,IT Services & Consulting,2017 (7 yrs old),dxc.com,None
34,Mahindra & Mahindra,4.1,9.3k,Public,Nagpur|Madurai|Nashik|+2,Automobile,1945 (79 yrs old),mahindra.com,"Mumbai, Maharashtra, India"
35,AU Small Finance Bank,4.4,9.3k,Fortune India 500,--,Banking,1996 (28 yrs old),aubank.in,"Jaipur, Rajasthan, India"
36,Infosys BPM,3.8,8.9k,22 years old,Bangalore / Bengaluru|New Delhi|Noida|+1,BPO,2002 (22 yrs old),infosysbpm.com,"Bangalore/Bengaluru, Karnataka, India"
37,Bajaj Finserv,4.0,8.4k,Public,Warud|Ahmedabad|Hyderabad / Secunderabad|+4,Financial Services,2007 (17 yrs old),bajajfinserv.in,"Pune,Maharashtra, India"
38,Conneqt Business Solutions,3.7,8.3k,22 years old,--,BPO,2002 (22 yrs old),conneqtcorp.com,"Mumbai, Maharashtra, India"

In [12]:
final_df.to_csv('company_information.csv',index=False)